* {
    font-family: "League Spartan", "Arial Narrow Bold", sans-serif;
    color: var(--white);
    scroll-behavior: smooth;
    &::selection {
        color: var(--secondary-color);
        background: var(--primary-color);
    }
}

:root {
    --background-color: #181818;
    --primary-color: #882efd;
    --secondary-color: #ff00d6;
    --additional-primary-color: #8f00ff;
    --required-input: #ff8766;
    --gradient: linear-gradient(
        180deg,
        var(--additional-primary-color) 0%,
        var(--secondary-color) 100%,
        var(--additional-primary-color) 150%
    );
    --error-color: #ff7676;
    --small-text: #adadad;
    --white: #ffffff;
    --black: #000000;
    --transparent-color: transparent;
    --background-additional-color: rgba(26, 26, 26, 0.9);
    --additional-color-1: rgba(255, 255, 255, 0.05);
    --additional-color-2: rgba(255, 255, 255, 0.15);
    --additional-color-3: rgba(255, 255, 255, 0.5);
    --additional-color-4: rgba(255, 255, 255, 0.2);
}

.light {
    --background-color: #dadada;
    --primary-color: #882efd;
    --secondary-color: #ff00d6;
    --additional-primary-color: #8f00ff;
    --gradient: linear-gradient(
        180deg,
        var(--additional-primary-color) 0%,
        var(--secondary-color) 100%,
        var(--additional-primary-color) 150%
    );
    --error-color: #ff7676;
    --small-text: #585858;
    --white: #000000;
    --black: #ffffff;
    --transparent-color: transparent;
    --background-additional-color: rgba(209, 209, 209, 0.9);
    --additional-color-1: rgba(0, 0, 0, 0.05);
    --additional-color-2: rgba(0, 0, 0, 0.15);
    --additional-color-3: rgba(0, 0, 0, 0.5);
    --additional-color-4: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-image: var(--gradient);
    box-shadow: inset 2px 2px 5px 0 var(--additional-color-3);
    border-radius: 100px;
}

html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

html,
body,
#root,
.App {
    width: 100%;
}

#root {
    position: relative;
}

.App {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.biggest-text {
    position: relative;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.big-text {
    position: relative;
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.mid-text {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.small-text {
    position: relative;
    color: var(--small-text);
    font-size: 25px;
    text-decoration: none;
}

.codesynth-text {
    position: relative;
    width: max-content;
    background-image: linear-gradient(90deg, var(--white), var(--white));
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    color: transparent;

    &::before {
        position: absolute;
        content: attr(data-text);
        top: 50%;
        background: linear-gradient(
            90deg,
            var(--secondary-color) 0%,
            var(--primary-color) 100%,
            var(--transparent-color) 100%
        );
        background-clip: text;
        transform: translateY(-50%);
        opacity: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.3s ease-in-out;
    }

    &::after {
        position: absolute;
        content: "CodeSynth - web studio with many perspectives.";
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(26, 26, 26, 0.5);
        color: #adadad;
        opacity: 0;
        top: 100%;
        font-size: 25px;
        right: 20px;
        left: 20px;
        border-radius: 20px;
        border-top: 1px solid var(--white);
        border-left: 1px solid var(--white);
        padding: 10px;
        font-weight: 300;
        transition: 0.3s;
        text-transform: initial;
        pointer-events: none;
    }

    &:active {
        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 1;
        }
    }

    &.no-table::after {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        content: "";
        user-select: none;
    }
}

.rotated-text {
    transform: rotate(-90deg);
}

.radio-make-order,
.checkbox-make-order {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid var(--white);
    cursor: pointer;
    left: 5px;
    transition: 0.3s;

    &:checked {
        background-color: var(--primary-color);
    }
}

@keyframes scalingAnimation {
    0% {
        scale: 100%;
    }

    50% {
        scale: 120%;
    }

    100% {
        scale: 100%;
    }
}

input[type="date"] {
    min-height: 35px;
    color: var(--white);
    background-color: var(--additional-color-1);
    border: 2px solid var(--additional-color-2);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

input[type="file"] {
    display: none;
}

.order-input,
input[type="date"],
textarea {
    transition: 0.3s;

    &:focus {
        box-shadow: 0 0 10px var(--primary-color),
            inset 0 0 10px var(--primary-color);
        border-color: var(--primary-color) !important;
        outline: none;
    }
}

.file-type {
    position: relative;

    & .upload {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 35px;
        fill: var(--white);
        color: var(--white);
        background-color: var(--additional-color-1);
        border: 2px solid var(--additional-color-2);
        border-radius: 0.25rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;

        & p {
            margin: 0;
        }

        & svg,
        & p {
            pointer-events: none;
        }

        &:active {
            fill: var(--primary-color);

            & p {
                color: var(--primary-color);
            }
        }
    }
}

.error {
    color: var(--error-color);
}

#show_more {
    margin-top: 50px;
}

#cursor-seeker {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: var(--primary-color);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    opacity: 20%;
    z-index: 0;
}

p {
    margin: 0;
}

@media (max-width: 1199px) {
    .codesynth-text::after {
        position: absolute;
        display: none;
        opacity: 0;
        content: "";
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .biggest-text {
        font-size: 85px;
    }

    .big-text {
        font-size: 45px;
    }

    .mid-text {
        font-size: 32px;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .biggest-text {
        font-size: 65px;
    }

    .big-text {
        font-size: 47px;
    }

    .mid-text {
        font-size: 32px;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .biggest-text {
        font-size: 65px;
    }

    .big-text {
        font-size: 47px;
    }

    .mid-text {
        font-size: 32px;
    }

    .small-text {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .biggest-text {
        font-size: 52px;
    }

    .big-text {
        font-size: 40px;
    }

    .mid-text {
        font-size: 32px;
    }

    .small-text {
        font-size: 20px;
    }
}

@media (hover: hover) {
    .codesynth-text:hover {
        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 1;
        }
    }

    .file-type .upload:hover {
        fill: var(--primary-color);

        & p {
            color: var(--primary-color);
        }
    }
}
