@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", "Arial Narrow Bold", sans-serif;
    color: var(--white);
    scroll-behavior: smooth;
    &::selection {
        color: var(--secondary-color);
        background: var(--primary-color);
    }
}

:root {
    --block-max-width: 90%;
    --background-color: linear-gradient(90deg, #0f0e11 16.91%, #20142d 39.32%);
    --primary-color: #882efd;
    --secondary-color: #b901e8;
    --additional-primary-color: #8f00ff;
    --required-input: #ff8766;
    --gradient: linear-gradient(
        180deg,
        var(--additional-primary-color) 0%,
        var(--secondary-color) 100%,
        var(--additional-primary-color) 150%
    );
    --error-color: #ff7676;
    --small-text: #adadad;
    --white: #ffffff;
    --black: #000000;
    --transparent-color: transparent;
    --additional-color-1: rgba(255, 255, 255, 0.05);
    --additional-color-2: rgba(255, 255, 255, 0.5);
    --additional-color-3: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-image: var(--gradient);
    box-shadow: inset 2px 2px 5px 0 var(--additional-color-3);
    border-radius: 100px;
}

html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    background-image: var(--background-color);
}

html,
body,
#root,
.App {
    width: 100%;
}

#root {
    position: relative;
}

.App {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.upper-case {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.additional {
    color: var(--secondary-color);
}

.transparent {
    opacity: 0.5;
}

.bold {
    font-weight: 700;
}

.pre-bold {
    font-weight: 600;
}

.thin {
    font-weight: 300;
}

.link {
    position: relative;
    text-decoration: underline;
    color: var(--white);
    cursor: pointer;
}

.biggest-text {
    position: relative;
    font-size: 92px;
    text-decoration: none;
}

.big-text {
    position: relative;
    font-size: 82px;
    text-decoration: none;
}

.pre-big-text {
    position: relative;
    font-size: 42px;
    text-decoration: none;
}

.mid-text {
    position: relative;
    font-size: 26px;
    text-decoration: none;
}

.small-text {
    position: relative;
    font-size: 18px;
    text-decoration: none;
}

.codesynth-text {
    position: relative;
    width: max-content;
    background-image: linear-gradient(90deg, var(--white), var(--white));
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    color: transparent;

    &::before {
        position: absolute;
        content: attr(data-text);
        top: 50%;
        background: linear-gradient(
            90deg,
            var(--secondary-color) 0%,
            var(--primary-color) 100%,
            var(--transparent-color) 100%
        );
        background-clip: text;
        transform: translateY(-50%);
        opacity: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 0.3s ease-in-out;
    }

    &::after {
        position: absolute;
        content: "CodeSynth - web studio with many perspectives.";
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(26, 26, 26, 0.5);
        color: #adadad;
        opacity: 0;
        top: 100%;
        font-size: 25px;
        right: 20px;
        left: 20px;
        border-radius: 20px;
        border-top: 1px solid var(--white);
        border-left: 1px solid var(--white);
        padding: 10px;
        font-weight: 300;
        transition: 0.3s;
        text-transform: initial;
        pointer-events: none;
    }

    &:active {
        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 1;
        }
    }

    &.no-table::after {
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
        content: "";
        user-select: none;
    }
}

.filter-checkbox,
.radio-make-order,
.checkbox-make-order {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid var(--white);
    cursor: pointer;
    left: 5px;
    transition: 0.3s;

    &::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 80%;
        background-color: transparent;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        aspect-ratio: 1/1;
        transition: 0.3s;
    }

    &:checked::before {
        background-color: var(--secondary-color);
    }
}

.filter-checkbox {
    border-color: var(--black);
}

@keyframes scalingAnimation {
    0% {
        scale: 100%;
    }

    50% {
        scale: 120%;
    }

    100% {
        scale: 100%;
    }
}

.form_checkbox,
#additional-project-info,
.order-input,
input[type="date"],
textarea,
.file-type .upload {
    position: relative;
    font-size: 1rem;
    color: var(--small-text);
    font-weight: 400;
    background-color: #232323;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: text;

    &::placeholder {
        color: var(--small-text);
        font-weight: 400;
    }
}

.form_checkbox {
    max-width: max-content;
    align-items: center;
    margin: 0;
    padding: 0.5rem 0.75rem 0.5rem 2.25rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
}

#additional-project-info {
    width: 100%;
    height: 200px;
    color: var(--white);
    margin-bottom: 1.5rem;
    resize: vertical;
}

.order-input {
    width: 100%;
    min-height: 35px;
    color: var(--white);
}

input[type="date"] {
    min-height: 35px;
    color: var(--white);
    margin-bottom: 1.5rem;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.order-input,
input[type="date"],
textarea {
    transition: 0.3s;
    transition-property: box-shadow, border-color, outline;

    &:focus {
        box-shadow: 0 0 10px var(--primary-color),
            inset 0 0 10px var(--primary-color);
        border-color: var(--primary-color) !important;
        outline: none;
    }
}

.file-type {
    position: relative;

    & .upload {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 35px;
        margin-bottom: 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;

        svg,
        svg path {
            color: var(--white);
        }

        p {
            margin: 0;
            color: var(--small-text);
        }

        svg,
        p {
            pointer-events: none;
        }

        &:active {
            p,
            svg,
            svg path {
                color: var(--primary-color);
            }
        }
    }
}

.error {
    color: var(--error-color);
    font-weight: 400;
}

#show_more {
    margin-top: 50px;
}

#cursor-seeker {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: var(--primary-color);
    filter: blur(50px);
    -webkit-filter: blur(50px);
    opacity: 20%;
    z-index: 0;
}

p {
    margin: 0;
}

@media (max-width: 1199px) {
    .codesynth-text::after {
        position: absolute;
        display: none;
        opacity: 0;
        content: "";
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .biggest-text {
        font-size: 85px;
    }

    .big-text {
        font-size: 45px;
    }

    .mid-text {
        font-size: 32px;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .biggest-text {
        font-size: 65px;
    }

    .big-text {
        font-size: 47px;
    }

    .mid-text {
        font-size: 32px;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .biggest-text {
        font-size: 65px;
    }

    .big-text {
        font-size: 47px;
    }

    .mid-text {
        font-size: 32px;
    }

    .small-text {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .biggest-text {
        font-size: 52px;
    }

    .big-text {
        font-size: 40px;
    }

    .mid-text {
        font-size: 32px;
    }

    .small-text {
        font-size: 20px;
    }
}

@media (hover: hover) {
    .codesynth-text:hover {
        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 1;
        }
    }

    .file-type .upload:hover {
        p,
        svg,
        svg path {
            color: var(--primary-color);
        }
    }
}
