.language-tech {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}

.language-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.language-name p {
    margin: 0;
}

.language-name img {
    width: 99px;
    height: 99px;
    border-radius: 20px;
}

.language-frame-works {
    margin: 0;
}

.language-additional-tools p {
    margin: 0;
}