* {
    font-family: "Montserrat", Arial;
    color: #ffffff;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: auto;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #8F00FF 0%, #FF00D6 100%, #8F00FF 150%);
    box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #181818;
}

html,
body,
#root,
.App {
    width: 100%;
    height: 100%;
}

#root {
    position: relative;
}

.App {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.biggest-text {
    position: relative;
    font-size: 200px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.big-text {
    position: relative;
    font-size: 85px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.mid-text {
    position: relative;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.small-text {
    position: relative;
    color: #ADADAD;
    font-size: 25px;
    font-family: 'Inconsolata', Arial;
    text-decoration: none;
}

.button {
    display: inline-flex;
    height: 63px;
    width: 250px;
    max-width: 300px;
    padding: 0 27px;
    font-weight: 700;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    flex-shrink: 0;
    background: linear-gradient(98deg, #00000000 50%, #8F00FF 50.71%, #FF00D6 110%);
    border: 1px solid #8F00FF;
    background-size: 255%;
    color: #FF00D6;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    color: #181818;
    border: 1px solid linear-gradient(98deg, #8F00FF, #FF00D6);
    background-position: 97%;
}

.button:disabled {
    display: inline-flex;
    height: 63px;
    padding: 0 27px;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    flex-shrink: 0;
    background: linear-gradient(98deg, #00000000 50%, #4b4b4b 50.71%, #a8a8a8 110%);
    border: 1px solid #a8a8a8;
    background-size: 255%;
    color: #4b4b4b;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
}

.button:disabled:hover {
    color: #181818;
    border: 1px solid linear-gradient(98deg, #4b4b4b, a8a8a8);
    background-position: 97%;
}

.button.fill {
    color: #181818;
    background: linear-gradient(98deg,#8F00FF 4.71%, #FF00D6 101.04%);
    border: 1px solid #8F00FF;
}

.codesynth-text {
    position: relative;
    background-image: linear-gradient(90deg,#ffffff,#ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    cursor: pointer;
    color: transparent;
}

.codesynth-text.no-table::after {
    display: none;
}

.codesynth-text::after {
    position: absolute;
    content: 'CodeSynth - web studio with many perspectives.';
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(26,26,26,.5);
    color: #ADADAD;
    opacity: 0;
    top: 100%;
    font-family: 'Inconsolata';
    font-size: 25px;
    right: 20px;
    left: 20px;
    border-radius: 20px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 10px;
    transition: .3s;
}

.codesynth-text::before {
    position: absolute;
    content: attr(data-text);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #FF00D6 0%, #882EFD 100%, rgba(255, 255, 255, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

.codesynth-text:hover::after {
    opacity: 1; 
}

.codesynth-text:hover::before {
    opacity: 1;
}

.rotated-text {
    transform: rotate(-90deg);
}

.radio-make-order,
.checkbox-make-order {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #fff;
    cursor: pointer;
    left: 5px;
    transition: .3s;
}

.radio-make-order:checked,
.checkbox-make-order:checked {
    background-color: #882EFD;
}

input[type="date"] {
    min-height: 3.5rem;
    color: #fff;
    background-color: rgba(255,255,255,.05);
    border: 2px solid rgba(255,255,255,.15);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

input[type="file"] {
    display: none;
}

.file-type {
    position: relative;
}

.file-type .upload {
    width: 100%;
    min-height: 3.5rem;
    fill: #fff;
    color: #fff;
    background-color: rgba(255,255,255,.05);
    border: 2px solid rgba(255,255,255,.15);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.file-type .upload:hover {
    fill: #882EFD;
}

.file-type .upload:hover p {
    color: #882EFD;
}

.error {
    color: #ff7676;
}

#show_more {
    margin-top: 50px;
}

@media (min-width: 1200px) and (max-width: 1399px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .biggest-text {
        font-size: 85px;
    }
    
    .big-text {
        font-size: 45px;
    }
    
    .mid-text {
        font-size: 32px;
    }

    .codesynth-text::after {
        position: absolute;
        display: none;
        opacity: 0;
        content: "";
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .biggest-text {
        font-size: 85px;
    }
    
    .big-text {
        font-size: 45px;
    }
    
    .mid-text {
        font-size: 32px;
    }

    .codesynth-text::after {
        position: absolute;
        display: none;
        opacity: 0;
        content: "";
    }

    .button {
        height: 53px;
        font-size: 20px;
    } 
}

@media (min-width: 651px) and (max-width: 767px) {
    .biggest-text {
        font-size: 65px;
    }
    
    .big-text {
        font-size: 47px;
    }
    
    .mid-text {
        font-size: 32px;
    }

    .codesynth-text::after {
        position: absolute;
        display: none;
        opacity: 0;
        content: "";
    }

    .button {
        height: 53px;
        font-size: 20px;
    } 
}

@media (min-width: 481px) and (max-width: 650px) {
    .biggest-text {
        font-size: 65px;
    }
    
    .big-text {
        font-size: 47px;
    }
    
    .mid-text {
        font-size: 32px;
    }

    .small-text {
        font-size: 20px;
    }

    .codesynth-text::after {
        position: absolute;
        display: none;
        opacity: 0;
        content: "";
    }

    .button {
        height: 53px;
        font-size: 20px;
    } 
}

@media (max-width: 480px) {
    .biggest-text {
        font-size: 52px;
    }
    
    .big-text {
        font-size: 40px;
    }
    
    .mid-text {
        font-size: 32px;
    }

    .small-text {
        font-size: 20px;
    }

    .codesynth-text::after {
        position: absolute;
        display: none;
        opacity: 0;
        content: "";
    }

    .button {
        width: 120px;
        height: 32px;
        font-size: 12px;
    } 
}