.footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 50px 50px 200px 50px;
    background-color: #100e12;
    gap: 100px;
    bottom: 0;
    box-sizing: border-box;

    .logo-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .logo {
            width: 100%;
            max-width: 82px;
            max-height: 82px;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.categories {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: column;
    list-style: none;

    & p {
        margin: 0;
    }
}

@media (max-width: 991px) {
    .footer {
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .logo-container .logo {
            width: 100%;
            justify-content: center;
        }
    }

    .categories {
        justify-content: center;
        gap: 50px;
    }

    .category {
        padding: 0;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .footer {
        padding: 2px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 2px;

        & .logo-container {
            text-align: center;

            & .logo img {
                max-width: 48px;
                max-height: 48px;
            }
        }
    }
}
