.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 150px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            90deg,
            var(--transparent-color) 0%,
            var(--white) 50%,
            var(--transparent-color) 100%
        )
        0 0 1 0;
    background-color: var(--background-color) 7d;
    gap: 100px;
    box-sizing: border-box;
    z-index: 19;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    overflow-x: hidden;
    transition: 0.3s;

    &.active {
        display: flex;
        height: 100%;
        top: 0 !important;
        flex-direction: column;

        & .navbar-first-part,
        .navbar-buttons-last,
        .navbar-buttons {
            flex-direction: column;
        }
    }

    & .logo {
        display: flex;
        gap: 10px;
        align-items: center;

        & img {
            max-width: 82px;
            max-height: 82px;
        }
    }
}

.navbar-first-part {
    display: flex;
    gap: 100px;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.navbar-buttons-last {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.navbar-buttons-additional {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.change-theme-button {
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;

    & svg {
        width: 100%;
        height: 100%;
        color: var(--white);
        transition: 0.3s;
    }
}

.navbar-mobile {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            90deg,
            var(--transparent-color) 0%,
            var(--white) 50%,
            var(--transparent-color) 100%
        )
        0 0 1 0;
    background-color: var(--background-color) 7d;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    z-index: 20;

    & .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
            font-size: 20px !important;
        }

        & img {
            max-width: 35px;
            max-height: 80%;
        }
    }
}

.navbar-mobile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white);
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 4px #4f4f4f;
    background-color: rgba(77, 77, 77, 0.33);
    border: 1px solid var(--additional-color-3);
    border-radius: 100%;
    cursor: pointer;
    z-index: 21;
    transition: 0.3s;

    &.active {
        fill: var(--black);
        background-color: var(--white);
        border: 1px solid var(--additional-color-3);
    }
}

@media (min-width: 1199px) {
    .navbar-mobile-button {
        display: none;
        opacity: 0;
    }
}

@media (max-width: 1198px) {
    .navbar-mobile-button {
        display: flex;
        opacity: 1;
    }

    #navbar {
        display: none;

        &.active {
            display: flex;
            justify-content: center;

            & .logo {
                max-width: 100%;
                scale: 90%;

                & img {
                    max-width: 48px;
                    max-height: 48px;
                }
            }
        }
    }

    #navbar,
    .navbar-first-part {
        gap: 25px;
    }
}

@media (min-width: 1400px) and (max-width: 1599px) {
    #navbar {
        padding: 10px 40px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    #navbar {
        padding: 10px 35px;
    }

    .logo a {
        font-size: 48px;
    }

    #navbar .small-text {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #navbar {
        padding: 10px 35px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 651px) and (max-width: 767px) {
}

@media (min-width: 481px) and (max-width: 650px) {
}

@media (max-width: 480px) {
    #navbar {
        padding: 0;
    }
}
