.admin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-input {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: #181818;
    overflow: auto;
}

.sidebar_category {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.sidebar_category p {
    margin: 0;
}

.web-site {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ffffff5e;
}

.web-site img {
    max-width: 40px;
}

.button_container {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.admin_button {
    width: 100%;
    padding: 5px 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #292929;
    color: #969696;
    border: none;
    border-radius: 6px;
    gap: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .3s;
}

.admin_button:hover {
    background-color: #444444;
    color: #ffffff;
}

.admin_button.active {
    background-color: #444444;
    color: #ffffff;
}

.working-directory {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #dfe7ff;
}

.workspace {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}