.main-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 150px;
    gap: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.what-is {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    & p {
        margin: 0;
    }
}

.what-is-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.projects-container-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-text {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;

    & p {
        max-width: 40%;
    }
}

.project-filters-block {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.drop-down {
    position: relative;
    display: flex;
    align-items: center;
    grid-column-gap: 0.75rem;
    font-size: 25px;
    color: var(--white);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 0.7rem 1.25rem 0.75rem;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;

    & svg {
        width: 25px;
    }

    &:hover {
        opacity: 1;
        border-bottom: 2px solid var(--white);
    }

    &.active {
        opacity: 1;
        border-bottom: 2px solid var(--white);
    }
}

.drop-down-list {
    position: absolute;
    width: 200px;
    max-height: 200px;
    display: flex;
    overflow-y: auto;
    overflow-y: hidden;
    font-size: 20px;
    flex-direction: column;
    opacity: 0;
    top: 110%;
    right: 0;
    background-color: var(--white);
    z-index: 2;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 0 0 5px var(--black);
    transition: 0.3s;

    &.active {
        opacity: 1;
    }
}

.drop-down-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--black);
    padding: 0 35px;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: var(--black) 1e;
    }
}

.filter-checkbox {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid var(--black);
    cursor: pointer;
    left: 5px;
    transition: 0.3s;

    &:checked {
        background-color: var(--primary-color);
    }
}

.projects-container {
    position: relative;
    justify-content: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.side-text {
    will-change: transform;
    position: absolute;
    left: -470px;
    top: 10%;
    white-space: nowrap;
    font-size: 102px;
    color: var(--additional-color-1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--additional-color-3);
    text-transform: uppercase;
}

.our-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        margin: 0;
        text-align: center;
    }
}

.our-services-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.services-title-wrapper {
    position: sticky;
    top: 0;
    width: 500px;
    height: auto;
    max-height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding-top: 150px;

    & p {
        text-align: start;
        margin: 0;
    }
}

.services-items-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    box-sizing: border-box;
    padding-top: 150px;
}

.our-stack-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-stack-title p {
    margin: 0;
    text-align: center;
}

.our-stack-content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.we-can-offer-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we-can-offer-header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.we-can-offer-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.we-can-offer-title p {
    margin: 0;
    max-width: 50%;
}

.we-can-offer-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid var(--additional-color-4);
    overflow: hidden;
}

.our-statistic {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
            90deg,
            var(--transparent-color) 0%,
            var(--white) 50%,
            var(--transparent-color) 100%
        )
        1 0 1 0;
}

.our-statistic-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .biggest-text::before {
        position: absolute;
        top: -50%;
        right: -100px;
        content: "+";
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 200px;
        font-weight: 500;
    }

    &.red .biggest-text::before {
        background: url("../../assets/red_conic_gradient.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.green .biggest-text::before {
        background: url("../../assets/green_conic_gradient.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &.blue .biggest-text::before {
        background: url("../../assets/purple_conic_gradient.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & p {
        margin: 0;
        text-align: center;
    }
}

.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.questions-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    & p {
        margin: 0;
    }
}

.questions-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.user-offer-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.user-offer-header {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;

    & p {
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 1199px) {
    .side-text {
        display: none;
        opacity: 0;
        transform: none !important;
    }

    .services-title-wrapper {
        align-items: center;
        margin: 20px 0;

        & p {
            text-align: center;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .what-is {
        width: 80%;
    }

    .drop-down-list {
        right: auto;
    }

    .we-can-offer-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .we-can-offer-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        & p {
            max-width: 100%;
        }
    }

    .our-services-content {
        flex-direction: column;
    }

    .services-items-wrapper {
        width: 100%;
    }

    .services-title-wrapper {
        position: relative;
        width: 95%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .what-is {
        width: 90%;
    }

    .what-is-buttons {
        flex-direction: column;
        gap: 20px;
    }

    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 80%;
        flex-direction: column;
        margin-bottom: 20px;

        & p {
            max-width: 100%;
        }
    }

    .we-can-offer-block {
        width: 90%;
    }

    .we-can-offer-header {
        width: 85%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .we-can-offer-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        & p {
            max-width: 100%;
        }
    }

    .we-can-offer-content {
        width: 90%;
    }

    .offer-icon {
        width: 50px;
        height: 50px;
    }

    .our-services {
        width: 90%;
    }

    .our-services-content {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .services-items-wrapper {
        width: 100%;
        padding-top: 100px;
    }

    .services-title-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 50px;
    }

    .user-offer-header {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-statistic-block .biggest-text::before {
        font-size: 120px;
    }

    .questions-container {
        width: 90%;
    }

    .our-statistic {
        width: 90%;
        padding: 100px 20px;
    }
}

@media (max-width: 767px) {
    .our-statistic-block .biggest-text::before {
        right: -50px;
        font-size: 100px;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .what-is {
        width: 90%;
    }

    .what-is-buttons {
        flex-direction: column;
        gap: 20px;
    }

    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 80%;
        flex-direction: column;
        margin-bottom: 20px;

        & .we-can-offer-block {
            width: 90%;
        }

        & p {
            max-width: 100%;
        }
    }

    .we-can-offer-header {
        width: 85%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .we-can-offer-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        & p {
            max-width: 100%;
        }
    }

    .we-can-offer-content {
        width: 90%;
    }

    .offer-icon {
        width: 50px;
        height: 50px;
    }

    .our-services {
        width: 90%;
    }

    .our-services-content {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .services-items-wrapper {
        width: 100%;
        padding-top: 100px;
    }

    .services-title-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 50px;
    }

    .user-offer-header {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .questions-container {
        width: 90%;
    }

    .our-statistic {
        width: 90%;
        padding: 100px 20px;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .what-is {
        width: 90%;
    }

    .what-is-buttons {
        flex-direction: column;
        gap: 20px;
    }

    .project-filters-block {
        width: 75%;
    }

    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 70%;
        flex-direction: column;
        margin-bottom: 20px;

        & p {
            max-width: 100%;
        }
    }

    .we-can-offer-block {
        width: 90%;
    }

    .we-can-offer-header {
        width: 85%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .we-can-offer-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        & p {
            max-width: 100%;
        }
    }

    .we-can-offer-content {
        width: 90%;
    }

    .offer-icon {
        width: 50px;
        height: 50px;
    }

    .our-services {
        width: 90%;
    }

    .our-services-content {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .services-items-wrapper {
        width: 100%;
        padding-top: 75px;
    }

    .services-title-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 50px;
    }

    .user-offer-header {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .questions-container {
        width: 90%;
    }

    .our-statistic {
        width: 90%;
        padding: 100px 20px;
    }
}

@media (max-width: 480px) {
    .what-is {
        width: 90%;
    }

    .what-is-buttons {
        flex-direction: column;
        gap: 20px;
    }

    .project-filters-block {
        width: 75%;
    }

    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 70%;
        flex-direction: column;
        margin-bottom: 20px;

        & p {
            max-width: 100%;
        }
    }
    .we-can-offer-block {
        width: 90%;
    }

    .we-can-offer-header {
        width: 85%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .we-can-offer-title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        & p {
            max-width: 100%;
        }
    }

    .we-can-offer-content {
        width: 90%;
    }

    .offer-icon {
        width: 50px;
        height: 50px;
    }

    .our-services {
        width: 90%;
    }

    .our-services-content {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .services-items-wrapper {
        width: 100%;
        padding-top: 75px;
    }

    .services-title-wrapper {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 50px;
    }

    .user-offer-header {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .questions-container {
        width: 90%;
    }

    .our-statistic {
        width: 90%;
        padding: 100px 20px;
    }
}
