$blocksGap: 40px;

.make-order {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 150px;
    gap: 100px;
    overflow-x: hidden;
    overflow-y: auto;

    &-text {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        p {
            margin: 0;
            text-align: center;
        }
    }

    &-content {
        position: relative;
        width: 100%;
        max-width: var(--block-max-width);
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        padding: 50px 20px;
        box-sizing: border-box;
        gap: $blocksGap;
        z-index: 1;

        .mid-text {
            margin: 0;
        }

        .small-text {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        p {
            max-width: 90%;
            overflow-wrap: anywhere;
        }
    }

    &-first-part {
        padding-bottom: $blocksGap;
    }

    &-first-part,
    &-second-part {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: $blocksGap;
    }

    &-category-input {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &-input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 1.5rem;

        & p {
            margin: 0;
        }
    }

    &-block-button {
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.error {
            color: var(--error-color);
        }
    }
}

.required {
    width: max-content;

    &::before {
        position: absolute;
        content: "*";
        color: var(--required-input);
        right: -15px;
        top: -5px;
    }
}

.category-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;

    &-date {
        width: 90%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &-area {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }
}

.list-item-dates {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

@media (max-width: 1199px) {
    .make-order-text,
    .make-order-content {
        width: 85%;
    }
}

@media (max-width: 480px) {
    .list-item-dates {
        gap: 20px;
    }
}
