.admin-items-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.admin-items-list tbody tr {
    position: relative;
    width: 100%;
    display: flex;
}

.admin-items-list thead tr {
    display: flex;
    background-color: #181818;
}

.admin-items-list tbody {
    display: flex;
    flex-direction: column;
}

.admin-items-list tr {
    color: #ffffff;
}

.admin-items-list tbody tr:nth-child(odd) {
    background-color: #c5c5c5;
}

.admin-items-list tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}


.admin-items-list td {
    color: #000;
}

.basic-td,
.input-td {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-td {
    width: 100%;
}

.input-td {
    width: 30%;
}

.choose-item-admin {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #000;
    cursor: pointer;
    left: 5px;
    transition: .3s;
}

.choose-item-admin:checked {
    background-color: #0e63e2;
}

.edit-button {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: #707070;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    stroke: transparent;
    cursor: pointer;
    transition: .3s;
}

.edit-button:hover {
    stroke: #000;
    fill: #0066ff;
}