.offer-block {
    position: relative;
    width: 100%;
    max-width: 409px;
    flex: auto;
    flex-shrink: 0;
    border: 1px solid #c501e5;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    gap: 25px;

    &-title {
        width: 100%;
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #242228;
        padding: 10px 15px;
        box-sizing: border-box;
        border-radius: 33px;
    }

    p {
        margin: 0;
        overflow-wrap: anywhere;
    }
}

.offer-icon {
    width: 50px;
    height: 50px;
}

@media (max-width: 1199px) {
    .offer-block {
        width: 300px;
    }
}

@media (max-width: 991px) {
    .offer-icon {
        width: 50px;
        height: 50px;
    }
}
