.question-block {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    border: 1px solid #FFF;
    background: rgba(97, 97, 97, 0.41);
}

.question {
    position: relative;
    padding: 20px;
    cursor: pointer;
    transition: .3s;
}

.question::before {
    position: absolute;
    content: "+";
    right: 20px;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    transition: .3s;
}

.answer {
    max-height: 0;
    overflow: hidden;
    overflow-wrap: break-word;
    transition: .3s;
}

.question.active::before {
    transform: rotate(45deg);
}

.question.active ~ .answer {
    padding: 20px;
    overflow: auto;
    max-height: 150px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .question-block {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .question-block {
        width: 70%;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .question-block {
        width: 70%;
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .question-block {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .question-block {
        width: 95%;
    }
}