.admin-context-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background-color: #ffffff;
    border-top: 2px solid #0e63e2;
    padding: 50px;
}

.admin-items-actions {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-items-list {
    width: 80%;
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: hidden;
}

.admin-items-list tr {
    position: relative;
    width: 100%;
    display: flex;
}

.admin-items-list th {
    display: flex;
    background-color: #181818;
}

.admin-items-list th td {
    color: #ffffff;
}

.admin-items-list tr:nth-child(odd) {
    background-color: #c5c5c5;
}

.admin-items-list tr:nth-child(even) {
    background-color: #e9e9e9;
}


.admin-items-list td {
    color: #000;
}

.basic-td,
.input-td {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-td {
    width: 100%;
}

.input-td {
    width: 30%;
}

.choose-item-admin {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid #000;
    cursor: pointer;
    left: 5px;
    transition: .3s;
}

.choose-item-admin:checked {
    background-color: #0e63e2;
}

.admin-button  {
    position: relative;
    width: auto;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.admin-button.add {
    background-color: #a7ffc4;
}

.admin-button.add:hover {
    background-color: #7eff7e;
}

.admin-button.delete {
    background-color: #ffa7a7;
}

.admin-button.delete:hover {
    background-color: #ff7e7e;
}

.deletition-ask-modal {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #dfe7ff;
}

.deletition-ask-modal.active {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deletition-ask-list {
    width: 80%;
    border-radius: 16px;
    overflow-y: auto;
    overflow-x: hidden;
}

.deletition-ask-list tr {
    width: 100%;
    display: flex;
}

.deletition-ask-list th {
    display: flex;
    background-color: #181818;
}

.deletition-ask-list th td {
    color: #ffffff;
}

.deletition-ask-list tr:nth-child(odd) {
    background-color: #c5c5c5;
}

.deletition-ask-list tr:nth-child(even) {
    background-color: #e9e9e9;
}

.deletition-ask-list td {
    color: #000;
}

.deletition-ask-button {
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 6px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: .3s;
}

.deletition-ask-button.yes:hover {
    border: 2px solid #ff7e7e;
    background-color: #ff7e7e;
}

.deletition-ask-button.no:hover {
    border: 2px solid #7eff7e;
    background-color: #7eff7e;
}

.deletition-buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.add-item-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #dfe7ff;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: auto;
}

.admin-add-input {
    width: 100%;
    min-height: 3.5rem;
    color: #000;
    background-color: rgba(0,0,0,.05);
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: .3s;
}

.edit-button {
    position: absolute;
    width: 20px;
    height: 20px;
    fill: #707070;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    stroke: transparent;
    cursor: pointer;
    transition: .3s;
}

.edit-button:hover {
    stroke: #000;
    fill: #0066ff;
}

.admin-object-image {
    width: 100px;
}

.tag-menu-admin {
    position: absolute;
    display: none;
    max-width: 400px;
    width: auto;
    max-width: 400px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    gap: 20px;
    top: 120%;
    background-color: #0066ff;
    border-radius: 16px;
    z-index: 1;
    transition: .3s;
}

.tag-menu-admin.opened {
    display: flex;
}