.venv
venv
ENV
.vscode
.DS_Store
.idea
.env_sample
.coverage
.coverage.*
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
/docs/**
.cache
!README*.md
*.md
.vscode
.idea
.gitignore
Makefile
README.md