.our-statistic {
    width: 100%;
    max-width: var(--block-max-width);
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    gap: 25px;

    &-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .big-text {
            max-width: 800px;
        }
    }

    &-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    &-block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        p {
            margin: 0;
            text-align: center;
        }

        &-number {
            display: flex;
            align-items: center;
            gap: 20px;
            span {
                background-size: 94% 70%;
                background-repeat: no-repeat;
                background-position: top left;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &.purple span {
                background-image: linear-gradient(
                    107.93deg,
                    #b500e9 50%,
                    #ee00d9 86.44%
                );
            }

            &.orange span {
                background-image: linear-gradient(
                    107.93deg,
                    #feda09 50%,
                    #ee00d9 86.44%
                );
            }

            &.blue span {
                background-image: linear-gradient(
                    107.93deg,
                    #8074ff 50%,
                    #2100ee 86.44%
                );
            }
        }
    }
}

@media (max-width: 991px) {
    .our-statistic {
        width: 90%;
        padding: 100px 20px;
    }
}
