.projects-container-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    box-sizing: border-box;
}

.projects-text {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;

    & p {
        max-width: 40%;
    }
}

.project-filters-block {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.drop-down {
    position: relative;
    display: flex;
    align-items: center;
    grid-column-gap: 0.75rem;
    font-size: 25px;
    color: var(--white);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 0.7rem 1.25rem 0.75rem;
    opacity: 0.5;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;

    & svg {
        width: 25px;
    }

    &:active {
        opacity: 1;
        border-bottom: 2px solid var(--white);
    }

    &.active {
        opacity: 1;
        border-bottom: 2px solid var(--white);
    }

    &-list {
        position: absolute;
        width: 200px;
        max-height: 200px;
        display: flex;
        overflow-y: auto;
        overflow-y: hidden;
        font-size: 20px;
        flex-direction: column;
        opacity: 0;
        top: 110%;
        right: 0;
        background-color: var(--white);
        z-index: 2;
        border-radius: 6px;
        padding: 5px 0;
        box-shadow: 0 0 5px var(--black);
        transform: scale(0%);
        transition: 0.3s;

        &.active {
            transform: scale(100%);
            opacity: 1;
        }
    }

    &-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: var(--black);
        padding: 0 35px;
        box-sizing: border-box;
        overflow-wrap: anywhere;
        user-select: none;
        cursor: pointer;
        transition: 0.3s;

        &:active {
            background-color: var(--black) 1e;
        }
    }
}

.filter-checkbox {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid var(--black);
    cursor: pointer;
    left: 5px;
    transition: 0.3s;

    &:checked {
        background-color: var(--primary-color);
    }
}

.projects-container {
    position: relative;
    justify-content: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.side-text {
    will-change: transform;
    position: absolute;
    left: -470px;
    top: 10%;
    white-space: nowrap;
    font-size: 102px;
    color: var(--additional-color-1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--additional-color-3);
    text-transform: uppercase;
    user-select: none;
}

@media (max-width: 991px) {
    .projects-text {
        gap: 5px;

        & .big-text {
            margin-bottom: 0;
        }

        & .small-text {
            margin-top: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 80%;
        flex-direction: column;
        margin-bottom: 20px;

        & p {
            max-width: 100%;
        }
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 80%;
        flex-direction: column;
        margin-bottom: 20px;

        & p {
            max-width: 100%;
        }
    }
}

@media (min-width: 481px) and (max-width: 650px) {
    .project-filters-block {
        width: 75%;
    }

    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 70%;
        flex-direction: column;
        margin-bottom: 20px;

        & p {
            max-width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .project-filters-block {
        width: 75%;
    }

    .drop-down-list {
        right: 10px;
    }

    .projects-container {
        width: 80%;
    }

    .projects-text {
        width: 70%;
        flex-direction: column;
        margin-bottom: 20px;

        & p {
            max-width: 100%;
        }
    }
}

@media (hover: hover) {
    .drop-down {
        &:hover {
            opacity: 1;
            border-bottom: 2px solid var(--white);
        }

        &-item:hover {
            background-color: var(--black) 1e;
        }
    }
}
